.portfolio {
	padding-top: 120px;
	&__wrapper {
		margin-top: 60px;
		display: grid;
		grid-template: repeat(2, auto) / repeat(4, 280px);
		grid-auto-rows: 280px;
		gap: 7px;
		.vertical {
			grid-row: 1 / 3;
			grid-column: 4 / 5;
		}
		.horizontal {
			grid-row: 2 / 3;
			grid-column: 2 / 4;
		}
	}
		&__box {
			display: flex;
			border: 1px solid black;
			flex-direction: column;
			align-items: center;
			padding: 10px;
			@include hover_yellow;
			&-img {
				position: relative;
				transition: all 0.6s;
				width: 260px;
				height: 260px;
				img {
					position: absolute;
					margin: auto;
					width: 100%;
					top: 0;
					bottom: 0;
					}
					&:hover {
					filter: grayscale(50%);
					}
			}
			a {
				text-decoration: none;
			}
			&-header {
				text-align: center;
				color: #212529;
				margin-top: 8px;
				font-size: 20px;
				line-height: 21px;
				text-decoration: none;
			}
			&-content {
				color: #212529;
				text-align: center;
				margin-top: 4px;
				font-size: 12px;
				line-height: 18px;
				
			}
		}

}