.promo {
	min-height: 100vh;
	position: relative;
	background: url('../img/main_bg.jpg') no-repeat 50%/cover;
	padding-top: 205px;
	&__title {
		width: 640px;
		margin-top: 10px;
	}
	&__subtitle {
		position: relative;
		padding-left: 10px;
		z-index: 2;
		@include before_circle;
	}
	&__btns {
		margin-top: 25px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 250px;
	}
	&__link {
		color: #000000;
		font-size: 18px;
		font-weight: bold;
		min-width: 135px;
		text-align: center;
		padding: 8px 25px;
		&:hover {
			color: #000000;
			text-decoration: none;
		}
	}
}